$color-black: #0c0019;
$color-white: #ffffff;
$color-alien-armpit: #77e41b;
$color-alien-armpit-dark: #416624;

// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 850px;

$mobile-width: 375px;
$mobile-height: 650px;
